<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
						   http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="formBean" 
       	  class="jsf_spring.CustomerBackingBean" 
          scope="request">
    	<property name="lookupService" ref="sampleLookupService"/>
    	<property name="colorPreferences" ref="colorPreferences"/>
  	</bean>			   
	<bean id="colorPreferences" class="jsf_spring.ColorPreferences">
		<property name="foreground" value="black"/>
		<property name="background" value="#fdf5e6"/>
	</bean>
	<bean id="sampleLookupService" class="jsf_spring.MapCustomerLookupService">
		<property name="sampleCustomers">
			<map>
				<entry key="a1234">
					<bean class="jsf_spring.Customer">
						<property name="customerID" value="a1234"/>
						<property name="firstName" value="Rod"/>
						<property name="lastName" value="Johnson"/>
						<property name="balance" value="123.45"/>
					</bean>
				</entry>
				<entry key="a1235">
          			<bean class="jsf_spring.Customer">
            			<property name="customerID" value="a1235"/>
            			<property name="firstName" value="Gary"/>
            			<property name="lastName" value="Mak"/>
           				<property name="balance" value="4567.89"/>
          			</bean>
       			</entry>
        		<entry key="a1236">
		          	<bean class="jsf_spring.Customer">
		            	<property name="customerID" value="a1236"/>
		            	<property name="firstName" value="Craig"/>
		            	<property name="lastName" value="Walls"/>
		            	<property name="balance" value="78901.23"/>
		          	</bean>
        		</entry>
		        <entry key="a1237">
		          	<bean class="jsf_spring.Customer">
			            <property name="customerID" value="a1237"/>
			            <property name="firstName" value="Matt"/>
			            <property name="lastName" value="Cherry"/>
			            <property name="balance" value="101112.13"/>
			          </bean>
		        </entry>
      		</map>
		</property>
	</bean>
	
</beans>